{% extends 'base.html' %}
{% block title %}Comment Edit{% endblock %}
        {% block contents %}
        <br>
        <div class="container">

            <div class="row">
                <div class="col offset-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary my-2" type="submit">保存</button>
                        <a href="{% url 'kouryaku:post_detail' object.pk %}"
                        class="btn btn-danger">キャンセル</a>
                    
                </div>
            </div>
        </div>
        {% endblock %}