{% extends 'base.html' %}
{% block title %}Comment Edit{% endblock %}
        {% block contents %}
        <br>
        <div class="container">

            <div class="row">
                <div class="col offset-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <type="text" id="detail_id" name="detail_id" value="{{ object.id }}"></type>
                        <a class="btn btn-success col-3 offset-2" href="{% url 'kouryaku:post_detail' object.pk %}">編集する</a>
                        <a href="{% url 'kouryaku:post_detail' object.pk %}"
                        class=" btn btn-secondary my-2">キャンセル</a>
                    
                </div>
            </div>
        </div>
        {% endblock %}