{% extends 'base.html' %}
{% block title %}Post Delete{% endblock %}
{% block contents %}
<br>
<div class="container">
    <div class="row">
        <div class="col offset-3">
                <form method="POST">
                    <br>
                    <p>削除してもいいですか？</p>
                    {% csrf_token %}
                    <button class="btn btn-bd-primary my-2" type="submit">削除</button>
                    
                     <a href="{{request.META.HTTP_REFERER}}">
                     <button type="button" class="btn btn-danger" >戻る</button>
            
        </div>
    </div>
</div>
{% endblock %}