{% extends 'base.html' %}
{% block title %}Post Edit{% endblock %}
        {% block contents %}
        <br>
        <div class="container">

            <div class="row">
                <div class="col offset-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>
                        <button class="btn btn-success col-3 offset-2" type="submit">完了</button>
                        </p>
                        <a href="{% url 'kouryaku:post_detail' object.pk %}" class="btn btn-danger">キャンセル</a>
                    
                </div>
            </div>
        </div>
        {% endblock %}